@CHARSET "UTF-8";

.navbar-default {
	background-color: rgba(226, 224, 203, 0.66); /* rgba(132, 98, 13, 0);*/
		border-color: #d7030e;
}
.navbar-default .navbar-brand {
  color: #5c5a2b;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fffad3;
}
.navbar-default .navbar-text {
  color: #5c5a2b;
}
.navbar-default .navbar-nav > li > a {
  color: #5c5a2b;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fffad3;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: rgba(203, 21, 115, 0.6)
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #fffad3;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #5c5a2b;
  background-color: rgba(203, 21, 115, 0.6)
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: rgba(203, 21, 115, 0.6)
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fffad3;
  background-color: rgba(203, 21, 115, 0.6)
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fffad3;
  background-color: rgba(203, 21, 115, 0.6)
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fffad3;
  background-color: rgba(203, 21, 115, 0.6)
}
.navbar-default .navbar-toggle {
  border-color: #e5e0d0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #e5e0d0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #fffad3;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fffad3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fffad3;
    background-color: #e5e0d0;
  }
}


body {
	background-color: rgba(226, 224, 203, 0.66); /*rgba(132, 98, 13, 0.26);*/
		background-color: rgba(226, 224, 203, 0.66); /* #e2e0cb; */
}

.row {
  display: flex;
  align-items: center;
  background-image: url('http://cdn.mediachainlabs.com/hh_1024x1024/392/3920be418e04859705f72f10e7145227.jpg');
  background-image: url('http://cdn.mediachainlabs.com/hh_1024x1024/ba2/ba230d2aed27eb74ff8759992aa42741.jpg');
  background-size: cover;
  height: 450px;
  border-color: #cc5c34; /* #c40408; */
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.panel-body {
	padding: 5px;
  background-color: rgba(226, 224, 203, 0.66); /* rgba(132, 98, 13, 0.26); */
}

.panel-default >.panel-heading {
	background-color: rgba(226, 224, 203, 0.66); /* rgba(132, 98, 13, 0.26); */
	  border-color: #cc5c34; /* #d7030e; */
}

div.panel-heading {
	font-size: 24px;
	border-width: 1px;
	}
	
.btn-primary{
	color: #5c5a2b;
	background-color: rgba(144, 139, 63, 0);
	border-color: #cc5c34; /* #d7030e; */
}
.btn-primary:hover{
 	color: #fffad3;
 	background-color: rgba(63, 139, 144, 0);
 	border-color: #ece9b8;
}	
.btn-link{
 	color: #cc5c34; /* #d7030e; */
}

.btn-primary:active, .open>.dropdown-toggle.btn-primary{
 	color: #cc5c34; /* #824767; */
 	background-color: #e3c836;
 	border-color: #122b40
}

.hidden {
	display: none;
}


.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Choose';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}





footer{
	position: fixed;
	bottom: 0;
}


.footer-distributed{
	background-color: rgba(226, 224, 203, 0.66); /* #e2e0cb; */
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 15px 25px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #cc5c34;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #494667;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #494667;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #cc5c34;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color: #cc5c34;
	color: #494667;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #494667;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #494667;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #494667;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #494667;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #cc5c34;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}




#tooltip { position: relative; }
#tooltip a span { display: none; color: #FFFFFF; }
#tooltip a:hover span { display: block; position: absolute; width: 200px; background: #d2d6ce; height: 50px; left: 100px; top: -10px; color: #ce720b; padding: 0 5px; }




